.icon-head{
    padding-top:5px;
    color:#fff;
    font-size:22px;
}

.icon-headd{
    padding-top:20px;
    color:#212121;
    font-size:22px;
}

.icon-head-mob{
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
}

.our-team{
    padding: 50px;
}

.our-team .pic{
    border-top: 5px solid #21ade3;
    border-bottom: 5px solid #21ade3;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    border-top-color: #ffc80b;
    border-bottom-color: #ffc80b;
    border-radius: 50% 0;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.our-team .team-content{ padding: 20px 0; }
.our-team .title{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #411e75;
    text-align: center;
    margin: 0 0 5px 0;
}
.our-team .post{
    display: block;
    font-size: 17px;
    color: #c00d5c;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
}
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #8f2d56;
    background: #fff;
    font-size: 17px;
    color: #8f2d56;
    text-align: center;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #8f2d56;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

.donate{
    background-color: #dc3545;
    border-radius: 8px;
    padding: 60px 30px;
    text-align: center;
    color: #fff;
}

hr.new5 {
  border: 3px solid #66b559;
  border-radius: 5px;
}

.main-headh2{
   text-align: center;
   font-size: 45px;
   padding-bottom: 25px; 
}

.main-headh3{
   text-align: left;
   font-size: 30px;
   padding-bottom: 10px; 
}

.image-box1{
   border: 1px solid #e0e0e0;  
}

.image-box2{
    text-align: center;
    padding: 25px;
}

.guidelines-icon li{
    padding : 7px 0px 10px 10px;
}

.guidelines-icon li span{
    font-size: 14px;
    color: #3cb7e7;
    padding-right: 10px;
}

.icon-group-home{
    background: rgba(102,181,89,0.85);
    border-radius: 20px;
    text-align: center;
}

.icon-section{
    padding: 70px 0px;
    background-repeat: no-repeat;
}

.gallery-heading{
    /*text-align: left;*/
    margin-top: 10px;
    font-size: 20px;
    color: #2f3753;
    margin-bottom: 5px;
}

.gallery-para{
    font-size: 16px;
    text-align: justify;
}